<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AlgoliaAppId" value="B3U5PIITCM" />
    <add key="AlgoliaProductIndex" value="dev_denali_products" />
    <add key="ProductDiscoveryBaseUrl" value="https://product-discovery-dev.relayfoods.com" />
    <add key="MealPlanningBaseUrl" value="https://mealplanning-devobjects.relayfoods.com" />
    <add key="DynamoDishTable" value="dev.dishes" />
    <add key="MigrationSearchandizingIndex" value="dev_searchandizings_ingredients" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="4.3.0.0-4.4.3.0" newVersion="4.4.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>