<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AlgoliaAppId" value="B3U5PIITCM" />
    <add key="AlgoliaProductIndex" value="dev_denali_products" />
    <add key="ProductDiscoveryBaseUrl" value="https://product-discovery-dev.relayfoods.com" />
    <add key="MealPlanningBaseUrl" value="https://mealplanning-devobjects.relayfoods.com" />
    <add key="DynamoDishTable" value="dev.dishes" />
    <add key="MigrationSearchandizingIndex" value="dev_searchandizings_ingredients" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>